* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;

    background: #f4f6f9;

    padding: 30px;
}

.container {

    max-width: 1200px;

    margin: auto;
}

h1 {

    text-align: center;

    margin-bottom: 30px;

    color: #1f2937;
}
.card-funcionario,
.card-escala, .card-consulta, .card-gerar {

    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

    background: white;
    
    padding: 25px;

    margin-bottom: 25px;

    border-radius: 12px;

    box-shadow:
        0 2px 12px
        rgba(0,0,0,.08);
}

 .card-funcionario h2 ,
.card-escala h2 , .card-consulta h2, .card-gerar h2{
    margin: 0;
    min-width: 300px;

    margin-bottom: 10px;
    text-align: left;
    color: #514c37;
}

.card-cadastro label, .card-funcionario label,
.card-escala label {

    display: block;

    margin-bottom: 0;

    margin-top: 0;

    font-size: 14px;

    font-weight: bold;

    color: #555;
}

.card-cadastro input, .card-funcionario input,
.card-escala input, .card-consulta input,.card-gerar input {

   /*display: flex;*/
    width: 250px;

    padding: 12px;

    margin-bottom: 0;

    border: 1px solid #a2a2a3;

    border-radius: 8px;

    font-size: 14px;
}


.card-consulta select,
.card-gerar select {

    width:250px;

    padding: 12px;

    margin-bottom: 0;

    border: 1px solid #d1d5db;

    border-radius: 8px;

    font-size: 14px;
}


.card-cadastro button, .card-escala button,
.card-consulta button, .card-gerar button {

    width: 200px;
    margin-top: 0;

    padding: 12px;
    
    border: none;

    border-radius: 8px;

    background: #2563eb;

    color: white;

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;

    transition: .2s;

}

.card-cadastro button:hover, .card-escala button:hover,
.card-consulta button:hover, .card-gerar button:hover {

    background: #053ba0;

}

hr{
    width: 50%;
}

table {

    width: 100%;

    border-collapse: collapse;
}

table th {

    background: #f3f4f6;

    padding: 12px;

    text-align: left;
}

table td {

    padding: 12px;

    border-bottom: 1px solid #e5e7eb;
}

table tr:hover {

    background: #b4d6f5;
}

.btn-excluir {    
    width: 50%;

    padding: 12px;

    margin-top: 10px;

    text-align:  center;
    border: none;

    border-radius: 8px;

    background: #2563eb;

    color: white;

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;

    transition: .2s;
}

.btn-excluir:hover {

    background: #b92804;
}


/*Alinhamento campos de cadastro funcionario*/

.card-cadastro{

    align-items: center;
    flex-wrap: wrap;

    background: white;
    
    padding: 25px;

    margin-bottom: 25px;

    border-radius: 12px;

    box-shadow:
        0 2px 12px
        rgba(0,0,0,.08);
    
}


.linha-campos {
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
}
.titulo{
    width: 100%;
    text-align: justify;
    color: #514c37;
   
}

.campo {
    flex: 1;
}

.campo input{
    width: 100%;
    
}


.campo-unico {
    margin-bottom: 20px;
}

.campo-unico input, .campo input[type="date"] {
    width: 250px;
    
}
.linha-periodo {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    align-items: flex-start;
}

.bloco-plantao {
    width: 300px;
}

.bloco-indisponibilidade {
    flex: 2;
}

.bloco-indisponibilidade label, .bloco-plantao label{
    margin-bottom: 10px;
}

.bloco-indisponibilidade .linha-campos {
    display: flex;
    gap: 20px;
}

.linha-botao {
    text-align: center;
    margin-top: 20px;
}

.linha-botao button {
    width: 250px;
}
